* {
    box-sizing: border-box;
    font-family: myriad-pro, sans-serif;
}

header {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #f8fd8b;
    border: 1px solid black;
    margin-bottom: 0.5%;
}

p {
    font-size: 16px;
    margin: 0;
}

h2 {
    margin: 0; 
}

.flexbox__main-area { 
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   margin-bottom: 0.5%;
}

.flexbox__first-area, .flexbox__third-area {
    width: 33%;
    border: 1px solid black;
    background-color: #bdd8de; 
    padding: 15px;
}

.flexbox__second-area {
    width: 33%;
    border: 1px solid black;
    background-color: #f9ebd6;
    padding: 15px;
}

footer {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    background-color: #f8fd8b;
}

footer h2 {
    margin-top: 20px;
}