* {
    font-family: myriad-pro, sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #f8fd8b;
    border: 1px solid black;
    margin-bottom: 0.5%;
}

p {
    font-size: 16px;
    margin: 0;
}

h2 {
    margin: 0; 
}

nav {
    float: left;
    width: 33%;
    padding: 15px;
    border: 1px solid black;
    background-color: #bdd8de; 
}

article {
    float: left;
    width: 33%;
    padding: 15px;
    border: 1px solid black;
    background-color: #f9ebd6;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
}

aside {
    float: right;
    width: 33%;
    padding: 15px;
    border: 1px solid black;
    background-color: #bdd8de;
}

footer {
    clear: both;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    background-color: #f8fd8b;
}

footer h2 {
    margin-top: 20px;
}









