* {
    box-sizing: border-box;
    font-family: myriad-pro, sans-serif;
}

p {
    font-size: 16px;
    margin: 0;
}

h2 {
    margin: 0; 
}

div {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 10px 0.5%;
}

header {
    background-color: #f8fd8b;
    border: 1px solid black;
    grid-column: 1 / 7;
    height: 100px;
    text-align: center;
}

nav {
    border: 1px solid black;
    background-color: #bdd8de; 
    grid-column: 1 / 3;
    padding: 15px;
    margin-bottom: 200px;
   
}

article {
    border: 1px solid black;
    background-color: #f9ebd6;
    grid-column: 3 / 5;
    padding: 15px;
}

aside {
    border: 1px solid black;
    background-color: #bdd8de;
    grid-column: 5 / 7; 
    padding: 15px;
    margin-bottom: 70px;
}

footer {
    border: 1px solid black;
    background-color: #f8fd8b;
    grid-column: 1 / 7;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}